/**
 * Container variants
 */

 .auth-container {
    width: 100%;
   // max-width: map-get($container-max-widths, "lg");
    height: 100%;
    > * {
        min-height: 100%;
    }
    @include bg-gradient-primary;
 }


